
body{
  font-size: 15px;
  font-family: 'Spartan', sans-serif;


}
h1{
  color: #502050;
}
h3{
  color: #2d6187;
}


.top-image{
border:0;
position: absolute;
left: 0;
top:0;
}
.bottom-image{
  border:0;
  position: absolute;
  right: 0;
  bottom:0;
}


.star{
  display: inline-block;
}
.rat_desc{
  display: inline-block;
  padding-left: 20px;
}
.rat_content{
  padding-left: 20%;
}
.rating1{
  background-color: #effad3;
  border-radius: 10px;
  width:75%;
}
.rating2{
  background-color: #effad3;
  border-radius: 10px;
  width:75%;
  margin-top: 2%;
  margin-left: 10%;
}

.rating3{
  background-color: #effad3;
  border-radius: 10px;
  width:75%;
  margin-top: 2%;
  margin-left: 20%;
}

.rating{
  width: 50%;
  position: absolute;
  right: 10%;
  top:15%;

}
.heading{
  width: 50%;
  position: absolute;
  left: 10%;
  top:10%;
}
.heading_head{
  color: #2a9d8f;
  font-size: 220%;
  font-weight: 700;
  width: 30%;

}
.heading_desc{
  color: #264653;
  font-size: 130%;
  width: 65%;
}

.top_container{
  width: 1440px;
}



.review1{
  margin: 100px;
  background-color: #a8dda8;
  width: 18%;
  padding: 30px;
  position: absolute;
  left: 50px;
  top: 350px;
  border-radius: 10px;

}
.card-para{
  color: #264653;
}
.customer-image{
  float: left;
  margin-right: 10px;
}
.desc{
  color: #2d6187;
  margin-top: 20px;
}

.review2{
  margin: 100px;
  background-color: #a8dda8;
  width: 18%;
  padding: 30px;
  position: absolute;
  left: 40%;
  top: 380px;
  border-radius: 10px;
}

.review3{
  margin: 100px;
  background-color: #a8dda8;
  width: 18%;
  padding: 30px;
  position: absolute;
  left:75%;
  top: 400px;
  border-radius: 10px;
}

.bottom_container{
  width: 1440px;
  position: absolute;
  left: 2%;


}
